/**
 * Variables for the DND Library.
 */
$dnd-position-top: 145px !default;
$dnd-inner-border: #ccc !default;
$dnd-content-width: 280px !default;
$dnd-menu-width: 41px !default;
$dnd-summary-height: 64px !default;
$dnd-summary-padding: 10px !default;
$dnd-summary-title-font-size: 18px !default;
$dnd-color: darken(#428bca, 6.5%) !default;
$dnd-border-radius: 12px !default;
$dnd-toggle-icon-size: 24px !default;
$dnd-anchor-icon-size: 32px !default;
$dnd-menu-icon-size: 24px !default;
$dnd-menu-icon-size-hover: 28px !default;
